<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{title}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
</head>
<body>
<h1 th:text="#{title}"></h1>
<h2 th:text="#{welcome}"></h2>
<a class="btn btn-default" href="?localeData=ua">UA</a>
<a class="btn btn-default" href="?localeData=en">EN</a>
<form th:action="@{/login}">
    <input type="submit"
           th:value="#{login.title}" class="btn btn-default">
</form>
<form th:action="@{/register}">
    <input type="submit"
           th:value="#{register}" class="btn btn-default">
</form>
</body>
</html>