<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title th:text="#{title}"></title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container" style="margin-top: 30px">
    <div class="row justify-content-center">
        <div class="col-md-2">
            <form id="sort-and-topic-select-form">
                <input type="submit" th:value="#{apply}" class="btn btn-dark">
                <legend th:text="#{sort}"></legend>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="sort" id="sortByName" autocomplete="off"
                           value="title" th:checked="${sort}==title"/>
                    <label class="form-check-label" for="sortByName" th:text="#{periodical.title}"/>
                </div>
                <div class="form-check">
                    <input type="radio" class="form-check-input" name="sort" id="sortByPrice" autocomplete="off"
                           value="price" th:checked="${sort}==price"/>
                    <label class="form-check-label" for="sortByName" th:text="#{price}"/>
                </div>
                <legend th:text="#{topic}"></legend>
                <div th:each="topic: ${topics}">
                    <input type="checkbox" name="topic" th:id="${topic}" th:value="${topic}">
                    <label th:for="${topic}" th:text="${topic}"></label>
                </div>

            </form>
        </div>
        <div class="col-md-8">
            <form id="search-form" style="margin-bottom: 30px">
                <div class="alert alert-danger" th:if="${error}"
                     th:text="#{search.error}">
                </div>
                <div class="input-group">
                    <div class="form-outline">
                        <input type="search" id="search" th:placeholder="#{searchBy.title}"
                               name="search" class="form-control"/>
                    </div>
                    <input type="submit" th:value="#{search}" class="btn btn-primary"/>
                </div>
            </form>
            <div class="list-group">
                <div th:foreach></div>
                <a th:each="periodical: ${periodicals}" th:href="@{/periodicals/{id}(id=${periodical.id})}"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1" th:text="${periodical.title}"></h5>
                        <small th:text="${periodical.topic}"></small>
                    </div>
                    <p class="mb-1" th:text="#{price}+': '+${periodical.price}"></p>
                </a>
            </div>
        </div>
    </div>

</div>
</body>
</html>